.subject-container{
    display: flex;
    flex-direction: column;
}

.subject-header {
    text-align: center;
    font-size: 25px;
    text-transform: lowercase;
    margin: 30px 0px 50px 0px;
}

.persp-container {
    display:flex;
    flex-direction: row;
    overflow: auto;
}

.persp {
    display:flex;
    max-width: 400px;
    margin: 0px 30px;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
}

.persp-initial {
    text-align: justify;
}

.persp-sub-header {
    font-size: 22px;
}

.radar-chart {
    width: 300px;
    height: 300px;
}

.scrollable {
    overflow: auto;
}

h3 { 
    font-size: 1.17em; 
    margin: .83em 0 
}
