.subject-container {
    display: flex;
    flex-direction: column;
}

.subject-header {
    text-align: center;
    font-size: 25px;
    text-transform: lowercase;
    margin: 30px 0 50px;
}

.persp-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 0px 20px
}

.persp {
    display: flex;
    max-width: 400px;
    min-width: 400px;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
}

.persp-initial {
    text-align: justify;
}

.persp-sub-header {
    font-size: 22px;
}

.radar-chart {
    height: 300px;
    inline-size: fit-content;
}

.emoji-cloud {
    height: 300px;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable > * {
    max-width: 380px;
    min-width: 380px;
}

h3 {
    font-size: 1.17em;
    margin: 0.83em 0
}

svg {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
