<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/style.css">

    <title>Choose a subject, any subject, not that subject</title>
  </head>
  <body class="home-two">

   <!-- About section start -->
    <div class="container">
      <div class="row">
        <div class="sec-heading">
          <h4 class="sec-title">Nuanced perspectives generation for Twitter feeds</h4>
          <p>
            Social media is central to most of our communication, controlling simultaneously the content and the amount of data that is being shared. 
            Being part of our routine implies that it also influences our needs to continuously stay informed. In this way, social media became an immense
            pool of knowledge about vast topics on any imaginable subject, creating a novel way to share the news.
            <span id="dots">...</span><span id="more">
            Social media platforms have a distinct advantage over other online sources of sharing news as it offers a wider variety of perspectives, structured or unstructured, 
            which are usually not biased towards a search. At this point in time, Twitter has 330 million active users, who , on average, tweet around 6,000 tweets a second
            The overwhelming amount of data and its semi-structured nature can sometimes result in invalid, inconsistent or awkward opinions that might have an overall negative impact,
              that can scale and propagate. In addition, choosing from a wide range of sources lets users choose to live in “echo chambers”.
          </p>
        </div>
        <button id="readMoreButton" onclick="readMore()" class="btn btn-round">Read more</a>
      </div>
    </div>      
    <!-- About section end -->

    <!-- Footer start -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <nav class="foo-nav">
              <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
            <p class="copyright">&copy; COPYRIGHT 2019 <a href="https://themeies.com">themeies.com.</a> ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='about.js') }}"></script>
  </body>
</html>