<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/style.css">

    <title>Contact page</title>
  </head>
  <body class="home-two">

   <!-- Team section start -->
    <section class="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 m-auto">
            <div class="sec-heading" style="margin-bottom: 20px;">
              <h3 class="sec-title">Project Developer</h3>
              <p>Final year BSc Computer Science Student</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-memb">
              <img src="/static/images/me.jpg" alt="">
              <div class="memb-details">
                <h6>Andreea-Elena Ungureanu</h6>
                <span>Developer</span>
                <div class="memb-social">
                    <a href="https://mobile.twitter.com/_andreeau_"><i class="ti-twitter-alt"></i></a>
                    <a href="https://github.com/andreea21ungureanu"><i class="ti-github"></i></a>
                    <a href="mailto:andreea.ungureanu221@gmail.com"><i class="ti-email"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100001458613369"><i class="ti-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section end -->

    <!-- Footer start -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <nav class="foo-nav">
              <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
            <p class="copyright">&copy; COPYRIGHT 2019 <a href="https://themeies.com">themeies.com.</a> ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- JS -->
  </body>
</html>