<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/themify-icons.css">
    <link rel="stylesheet" href="static/owl.carousel.min.css">
    <link rel="stylesheet" href="static/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/style.css">

    <title>Choose a subject, any subject, not that subject</title>

  </head>
  <body class="home-two">

    <!-- Header strat -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <nav class="foo-nav">
              <ul> 
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Suggest Subject</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
            <div class="foo-social">
              <a href="#"><i class="ti-facebook"></i></a>
              <a href="#"><i class="ti-twitter-alt"></i></a>
              <a href="#"><i class="ti-vimeo-alt"></i></a>
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <p class="copyright">&copy; COPYRIGHT 2019 <a href="https://themeies.com">themeies.com.</a> ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </header>
    <!-- Header strat -->

    <!-- Main section start -->
    <section class="banner">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-9">
            <div class="banner-content">
              <span>Nuanced Perspectives For Tweets</span>
              <h2>Choose a subject</h2>
              <div class="rowButtons">
                <a href="#" class="btn">Brexit</a>
                <a href="#" class="btn">Subject2</a>
                <a href="#" class="btn">Subject3</a>
                <a href="#" class="btn">Subject4</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main section end -->

    <!-- Footer start -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <nav class="foo-nav">
              <ul> 
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Suggest Subject</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
            <div class="foo-social">
              <a href="#"><i class="ti-facebook"></i></a>
              <a href="#"><i class="ti-twitter-alt"></i></a>
              <a href="#"><i class="ti-vimeo-alt"></i></a>
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <p class="copyright">&copy; COPYRIGHT 2019 <a href="https://themeies.com">themeies.com.</a> ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- JS -->
   
  </body>
</html>