
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

    <!-- All CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/subject.css">
    <link rel="stylesheet" href="/static/css/tweet.css">
    
    <script type="text/javascript" src="{{ url_for('static', filename='subject.js') }}"></script>
    
    <title>Selected subject page</title>

  </head>
  <body>

    <div class="subject-container">
      <h1 id="sub-header" class="subject-header"></h1>
      <div id="perspectives" class="persp-container">
      </div>
      
      <!-- Footer start -->
      <footer>
        <div class="footer">
          <div class="row">
            <div class="col-12 text-center">
              <nav class="foo-nav">
                <ul> 
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
              <p class="copyright">&copy; COPYRIGHT 2019 <a href="https://themeies.com">themeies.com.</a> ALL RIGHTS RESERVED.</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer end -->
  </div>
  </body>
</html>